@-webkit-keyframes dash {
  50% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes dash {
  50% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes pop-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes pop-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(https://fonts.gstatic.com/s/robotocondensed/v13/Zd2E9abXLFGSr9G3YK2MsH4vxAoi6d67T_UKWi0EoHQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJkF8H8ye47wsfpWywda8og.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
* {
  box-sizing: border-box; }

html {
  font-size: 22px; }
  @media only screen and (max-width: 850px) {
    html {
      font-size: 20px; } }
  @media only screen and (max-width: 512px) {
    html {
      font-size: 17px; } }
  @media only screen and (max-width: 300px) {
    html {
      font-size: 15px; } }

body {
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  color: #222; }

a {
  text-decoration: none;
  color: #222; }

.primary-title-text {
  padding: 20px 20px 10px 20px;
  font-family: "Roboto Condensed", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 2px;
  color: #222; }
  @media only screen and (max-width: 512px) {
    .primary-title-text {
      padding: 15px 10px 5px 10px;
      font-size: 1.1rem;
      letter-spacing: 1px; } }

.primary-title-text:after {
  display: block;
  position: relative;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #da0b00;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0.1);
      -ms-transform: scaleX(0.1);
          transform: scaleX(0.1); }

.secondary-title-text {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  padding: 10px 20px 20px;
  color: #6d6d6d;
  font-size: 0.6rem;
  line-height: 0.9rem;
  letter-spacing: 1px;
  word-spacing: 1px; }
  @media only screen and (max-width: 512px) {
    .secondary-title-text {
      padding: 10px 20px 10px;
      font-size: 0.7rem;
      letter-spacing: 1px; } }

.primary-button {
  width: 250px;
  padding: 10px;
  background-color: #da0b00;
  border: 2px solid #da0b00;
  border-radius: 15px;
  color: white;
  font-size: 0.9rem;
  margin: 20px 0;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s; }
  .primary-button:hover {
    background-color: white;
    color: #da0b00;
    cursor: pointer; }

.primary-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px; }
  @media only screen and (max-width: 850px) {
    .primary-container {
      margin-bottom: 160px; } }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #111;
  will-change: transform;
  box-shadow: 0 -1px 4px rgba(150, 150, 150, 0.4); }

.visible {
  -webkit-transform: translate(0, 0) !important;
      -ms-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
  opacity: 1 !important; }

.primary-module-wrapper {
  display: block;
  width: 90%;
  margin-left: 5%;
  box-sizing: border-box;
  position: relative;
  float: left;
  height: 275px;
  width: calc(50% - 50px);
  min-width: 300px;
  margin: 20px 25px 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  box-shadow: 0 5px 10px 0px rgba(109, 109, 109, 0.7);
  -webkit-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  border: 2px solid white; }
  .primary-module-wrapper:first-child {
    width: calc(100% - 50px);
    height: 400px; }
  .primary-module-wrapper:hover {
    cursor: pointer;
    box-shadow: 0px 20px 20px -10px rgba(109, 109, 109, 0.7); }
    .primary-module-wrapper:hover .secondary-title-text {
      color: #da0b00;
      -webkit-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in; }
    .primary-module-wrapper:hover .primary-title-text:after {
      -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
              transform: scaleX(1); }
    .primary-module-wrapper:hover .primary-module-image {
      -webkit-filter: grayscale(0) contrast(1.2);
              filter: grayscale(0) contrast(1.2); }
      .primary-module-wrapper:hover .primary-module-image img {
        -webkit-transform: scale(1.01);
            -ms-transform: scale(1.01);
                transform: scale(1.01); }
  @media only screen and (max-width: 850px) {
    .primary-module-wrapper {
      width: 96vw;
      margin: 20px 2vw 20px; }
      .primary-module-wrapper:first-child {
        width: 96vw; } }
  @media only screen and (max-width: 512px) {
    .primary-module-wrapper {
      height: 200px;
      margin: 20px 2vw 20px;
      min-width: 0; }
      .primary-module-wrapper:first-child {
        margin-top: 20px;
        height: 200px; } }
  @media only screen and (max-width: 300px) {
    .primary-module-wrapper {
      overflow: hidden; } }

.primary-image-wrapper {
  position: relative;
  pointer-events: none; }

.primary-module-link {
  max-width: 60%; }
  .primary-module-link:hover {
    cursor: pointer; }

.primary-module-image {
  -webkit-transition: -webkit-filter 0.3s linear;
  transition: -webkit-filter 0.3s linear;
  transition: filter 0.3s linear;
  transition: filter 0.3s linear, -webkit-filter 0.3s linear;
  -webkit-filter: grayscale(1) contrast(1.8);
          filter: grayscale(1) contrast(1.8);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  background-image: -webkit-linear-gradient(310deg, #6d6d6d 33%, #da0b00 100%);
  background-image: linear-gradient(140deg, #6d6d6d 33%, #da0b00 100%);
  overflow: hidden; }
  .primary-module-image img {
    width: 100%;
    height: 100%;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-animation: pop-in 0.6s ease-in-out;
            animation: pop-in 0.6s ease-in-out; }
    @supports not ((-o-object-fit: cover) or (object-fit: cover)) {
      .primary-module-image img {
        width: 0; } }

.primary-module-text-container {
  background-color: white;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase; }

.gradient {
  pointer-events: none; }

.search-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 120px);
  -webkit-transform: translate(0, 101vh);
      -ms-transform: translate(0, 101vh);
          transform: translate(0, 101vh);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in, -webkit-transform 0.3s ease-in;
  color: white;
  will-change: transform;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 850px) {
    .search-splash {
      height: calc(100vh - 160px); } }
  .search-splash .overlay-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.9);
    z-index: -2; }
  .search-splash .search-wrapper form {
    width: 70vw;
    height: 10vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .search-splash .search-wrapper form .search-text-area {
      width: 80%;
      height: 100%;
      font-size: 1.4rem;
      padding: 10px;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media only screen and (max-width: 512px) {
        .search-splash .search-wrapper form .search-text-area {
          font-size: 1rem;
          width: 70%; } }
    .search-splash .search-wrapper form .search-input {
      width: 20%;
      height: 10vh;
      font-size: 1.2rem;
      background-color: white;
      border: none;
      text-transform: uppercase;
      letter-spacing: 2px; }
      .search-splash .search-wrapper form .search-input:after {
        display: block;
        position: relative;
        left: 1.13vw;
        bottom: -3px;
        width: 0;
        height: 3px;
        background-color: #da0b00;
        content: "";
        -webkit-transition: width 0.3s;
        transition: width 0.3s; }
      @media only screen and (max-width: 850px) {
        .search-splash .search-wrapper form .search-input {
          font-size: 0.8rem; } }
      @media only screen and (max-width: 512px) {
        .search-splash .search-wrapper form .search-input {
          width: 35%; } }
      .search-splash .search-wrapper form .search-input:hover {
        color: white;
        background-color: #111;
        cursor: pointer; }
        .search-splash .search-wrapper form .search-input:hover:after {
          width: calc(90% - 1.13vw); }

.footer-container {
  max-width: 90vw;
  margin-left: 5vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 850px) {
    .footer-container {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
  .footer-container .logo {
    padding: 20px 10px 10px;
    -webkit-flex-basis: 22.5%;
        -ms-flex-preferred-size: 22.5%;
            flex-basis: 22.5%; }
    @media only screen and (max-width: 850px) {
      .footer-container .logo {
        padding: 12px 0;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
        -webkit-flex-basis: auto;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
        margin-bottom: -10px; } }
    .footer-container .logo .footer-logo {
      fill: none;
      stroke-width: 8;
      stroke: white;
      width: 60px;
      height: 60px;
      -webkit-transform: stroke 1s ease-in;
          -ms-transform: stroke 1s ease-in;
              transform: stroke 1s ease-in; }
      @media only screen and (max-width: 512px) {
        .footer-container .logo .footer-logo {
          -webkit-transform: scale(0.8);
              -ms-transform: scale(0.8);
                  transform: scale(0.8); } }
      .footer-container .logo .footer-logo:hover {
        stroke: #da0b00;
        stroke-dasharray: 150;
        -webkit-animation: dash 5s infinite linear;
                animation: dash 5s infinite linear;
        cursor: pointer; }

.footer-menu {
  margin: 0;
  letter-spacing: 3px;
  font-size: 0.7rem;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
  @media only screen and (max-width: 850px) {
    .footer-menu {
      font-size: 0.75rem;
      letter-spacing: 1px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding: 15px 10px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-align-self: flex-start;
          -ms-flex-item-align: start;
              align-self: flex-start;
      width: 90vw;
      border-bottom: 1px solid rgba(109, 109, 109, 0.7);
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto; } }

.menu-item {
  padding: 20px;
  text-decoration: none;
  text-align: center; }
  .menu-item a {
    color: white; }
  @media only screen and (max-width: 850px) {
    .menu-item {
      padding: 0 0; } }
  .menu-item:hover .menu-link {
    color: #6d6d6d;
    cursor: pointer; }
  .menu-item:hover .menu-link:after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }

.menu-link:after {
  display: block;
  position: relative;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #da0b00;
  content: "";
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media only screen and (max-width: 850px) {
    .social {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      -webkit-flex-basis: auto;
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
      -webkit-box-pack: auto;
      -webkit-justify-content: auto;
          -ms-flex-pack: auto;
              justify-content: auto; } }
  .social svg {
    height: 35px;
    width: 35px;
    box-sizing: content-box;
    fill: white;
    padding: 0 10px; }
    .social svg circle {
      fill: white; }
    @media only screen and (max-width: 850px) {
      .social svg {
        padding: 8px;
        height: 32px;
        width: 32px; } }
    @media only screen and (max-width: 512px) {
      .social svg {
        height: 30px;
        width: 30px; } }
    .social svg:hover {
      fill: #da0b00;
      cursor: pointer; }
      .social svg:hover circle {
        fill: #da0b00; }

.info-page-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .info-page-container .header-logo {
    padding: 20px 0 10px; }
    @media only screen and (max-width: 512px) {
      .info-page-container .header-logo {
        display: none; } }
    .info-page-container .header-logo svg {
      fill: none;
      stroke-width: 6;
      stroke: #222;
      width: 120px;
      height: 120px;
      -webkit-transform: stroke 1s ease-in;
          -ms-transform: stroke 1s ease-in;
              transform: stroke 1s ease-in; }
      @media only screen and (max-width: 512px) {
        .info-page-container .header-logo svg {
          -webkit-transform: scale(0.7);
              -ms-transform: scale(0.7);
                  transform: scale(0.7); } }
      .info-page-container .header-logo svg:hover {
        stroke: #da0b00;
        stroke-dasharray: 150;
        -webkit-animation: dash 5s infinite linear;
                animation: dash 5s infinite linear;
        cursor: pointer; }

.info-section {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #222;
  border-top: 1px solid gainsboro;
  width: 90vw;
  max-width: 32rem; }
  @media only screen and (max-width: 512px) {
    .info-section {
      border-top: none; } }
  .info-section p a {
    color: #da0b00; }
    .info-section p a:hover {
      text-decoration: underline; }

.payment-button {
  margin-left: calc(50% - 125px);
  box-shadow: 0 5px 8px -2px #b4b4b4; }
  .payment-button:hover {
    box-shadow: 0 8px 12px -4px rgba(180, 180, 180, 0.7); }

.admin-input p {
  text-align: center;
  background-color: aliceblue;
  padding: 40px;
  max-width: 770px;
  margin-left: calc(50% - 385px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-radius: 20px;
  font-family: Roboto, Helvetica, Arial;
  font-size: 0.8rem; }
.admin-input label {
  color: #686892;
  padding: 10px; }
.admin-input input {
  display: block;
  width: 500px;
  height: 2rem;
  font-size: 0.8rem;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px; }
.admin-input #submit {
  height: 2rem;
  color: #686892;
  background-color: rgba(251, 203, 82, 0.74);
  border: none;
  box-shadow: 0 5px 8px #969696;
  -webkit-transition: box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in; }
.admin-input #submit:hover {
  background-color: #686892;
  color: #fbcb52;
  cursor: pointer;
  box-shadow: 0 10px 10px -3px rgba(150, 150, 150, 0.6); }

.search-result {
  width: 100%;
  margin: 20px 0; }
